<!-- @format -->

<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss" />
<!-- <main class="page--home home">
  <section class="page__hero hero">
		<div class="hero__fruits-decor"></div>


    <div class="hero__container">

      <div class="hero__content">
        <h1 class="hero__title">
          <span>Gira la rueda y obtén</span>
          <p>tu bono ahora mismo!</p>
        </h1>
<div class="hero__bonus-items is-hidden">
  <div class="hero__bonus-item hero__bonus-item--left">
    <span>850%</span>
    <p>con tu depósito de casino</p>
  </div>

  <div class="hero__bonus-item hero__bonus-item--right">
    <span>630</span>
    <p>Giros Gratis</p>
  </div>
</div>
<div class="hero__wheel">
 
  <div class="hero__picture">
 
  </div>

  <button class="hero__spin-button" type="button" aria-label="Spin wheel">
    <img
      src="@img/hero/arrows.png"
      alt=""
      class="hero__spin-icon"
    />
  </button>
</div>
      </div>
			 
    </div>
		<div class="hero__fruit hero__fruit--left">
		<img src="@img/hero/hero-orange 1.png" class="hero__fruit-image" alt="Image">
		</div>
		<div class="hero__fruit hero__fruit--right">
		<img src="@img/hero/hero-strawberry 1.png" class="hero__fruit-image" alt="Image">
		</div>
  </section>
</main> -->
<main class="page--home home">
  <section class="page__hero hero">
    <div class="hero__inner">
      <!-- <div class="hero__logos">
        <img src="@img/logo.png" alt="" class="hero__logo" />
        <img src="@img/fruit-logo.png" alt="" class="hero__fruit-logo" />
      </div> -->

      <div class="hero__titles">
        <h1 class="hero__title">
          <span>Gira la rueda y obtén</span>
          <p>tu bono ahora mismo!</p>
        </h1>
      </div>

      <div class="hero__wheel-layout">
        <div class="hero__bonus-items ">
          <div class="hero__bonus-item hero__bonus-item--left">
            <span>850%</span>
            <p>con tu depósito de casino</p>
          </div>

          <div class="hero__bonus-item hero__bonus-item--right">
            <span>630</span>
            <p>Giros Gratis</p>
          </div>
        </div>

        <div class="hero__wheel-holder">
          <img src="@img/hero/hero-wheel-holder .png" alt="" class="hero__holder-image" />
        </div>

        <picture class="hero__wheel-picture">
          <img src="@img/hero/hero-wheel.png" alt="" class="hero__wheel-image" />
        </picture>

        <button class="hero__spin-button" type="button" aria-label="Spin wheel">
          <img src="@img/hero/spin-btn.png" alt="" class="hero__spin-icon" />
        </button>

        <div class="hero__win-frame">
          <img src="@img/hero/wheel-win-frame.png" alt="" />
        </div>
      </div>
			
      <img src="@img/hero/hero-orange.png" alt="" class="hero__character hero__character--orange" />
      <img src="@img/hero/hero-strawberry.png" alt="" class="hero__character hero__character--strawberry" />

      <img src="@img/hero/fruits.png" alt="" class="hero__fruits hero__fruits--desktop" />
      <img src="@img/hero/fruits-mob.png" alt="" class="hero__fruits hero__fruits--mobile" />
    </div>
  </section>
</main>